<app-header ></app-header>
<div  class="container">
<div class="container-fluid main-content">
  <div class="login-content">
    <form (ngSubmit)="onSearchSubmit(searchForm)" #searchForm="ngForm">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input name="searchtext" class="form-control" id="search" type="text" [(ngModel)]="searchId" #searchtext="ngModel" placeholder="Search by Visit Id"
          />
        </div>
        <div class="col-md-4">
          <input class="btn btn-primary" type="submit" value="Search" />
        </div>
      </div>
    </form>
    <div *ngIf="isPatient">
      <div class="card">
        <div class="card-body">
          <label>
            <b> Name</b>:</label>
          <p>{{ patient.name }}</p>
          <label>
            <b> DOB</b>:</label>
          <p>{{ patient.birthDate }}</p>
          <label>
            <b> Gender</b>:</label>
          <p>{{ patient.gender }}</p>
          <label>
            <b> Mobile</b>:</label>
          <p>{{ patient.mobile }}</p>
        </div>
      </div>
      <div class="form-check" *ngFor="let pres of prescriptionUpdates">
        <input class="form-check-input" [checked]="pres.provided" (change)="onChange(pres, $event.target.checked)" name="{{ pres.medicine }}"
          type="checkbox" id="{{pres.medicine}}">
        <label class="form-check-label" for="{{pres.medicine}}">
          {{pres.medicine}}
        </label>
      </div>
      <button type="submit" (click)="updatePrescriptionDetails()" class="btn btn-primary">Update</button>

    </div>
  </div>
</div>
</div>