<div class="container-fluid main-content">
  <div class="login-content">
    <form (ngSubmit)="onSearchSubmit(searchForm)" #searchForm="ngForm">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input name="searchtext" class="form-control" id="search" type="text" [(ngModel)]="search" #searchtext="ngModel" placeholder="Search by Visit Id"
          />
        </div>
        <div class="col-md-4">
          <input class="btn btn-primary" type="submit" value="Search" />
        </div>
      </div>
    </form>
  </div>
</div>
