<div class="container-fluid main-content">
    <div class="login-content">
    <div style="margin-top: 20px;border: 2px solid#dcd1d1;padding: 30px;">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2>Patient History</h2></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
      </div>
      <div >
        <div >
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">Content</div> 
                <div class="card-footer">Footer</div>
            </div>
            
        </div>
      </div>
    </div>
    </div>
</div>


