<div class="container-fluid main-content">
  <div style="margin-top:115px;" class="login-content">
    <div class="text-center">
      <h2>Login</h2>
      <div class="alert">
        <div></div>
      </div>
    </div>  
    <div>
      <div>
        <form class="form-horizontal" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <div class="form-group">
            <label class="control-label" for="username">Username:</label>

            <input class="form-control" id="username" name="userName" type="text" [(ngModel)]="loginModel.userId" #userName="ngModel"
              required/>

          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password:</label>

            <input id="password" class="form-control" name="password" type="password" [(ngModel)]="loginModel.password" #password="ngModel"
              required/>

          </div>
          <div class="control-group">
            <div class="controls">
              <input value="Login" class="btn btn-primary" type="submit">
              <a style="float:right;" id="forgotPasswordLink" href="#">Forgot Password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
